# Predicting March Madness Using Season Stats

In [23]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model import LogisticRegression
#from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV

## Loading in DataFrames
main dataframes used:

- df_tour_results: tournament results by year, and team id's of the winner and loser.
- df_reg_results: regular season results by year. Used for calculating stats
- df_seeds: mainly used for lightweight gathering of team id's

In [24]:
### Load DataFrames
def get_seed(seed):
    #Get just the digits from the seeding. Return as int
    s_int = seed[1:3]
    return s_int

path = 'C:\\Users\\ramir\\OneDrive\\Documents\\GitHub\\marchmadness\\DataFiles\\'
df_tour_results_com = pd.read_csv(path + 'NCAATourneyCompactResults.csv', usecols=['Season', 'WTeamID', 'LTeamID'])

### Cutting off 2003 because boxscore data starts at 2003
df_tour_results_com = df_tour_results_com.loc[df_tour_results_com.Season >= 2003]
df_tour_results_com.reset_index(inplace=True)
df_reg_results = pd.read_csv(path + 'RegularSeasonDetailedResults.csv')
df_reg_results.reset_index(inplace=True)
df_seeds = pd.read_csv(path+'NCAATourneySeeds.csv')
df_seeds['seed_int'] = df_seeds.Seed.apply(get_seed)
df_seeds.drop(labels=['Seed'], inplace=True, axis=1) # This is the string label
df_seeds.rename({'seed_int' : 'Seed'}, inplace=True, axis=1)
df_seeds.head(16)

    Season  TeamID Seed
0     1985    1207   01
1     1985    1210   02
2     1985    1228   03
3     1985    1260   04
4     1985    1374   05
5     1985    1208   06
6     1985    1393   07
7     1985    1396   08
8     1985    1439   09
9     1985    1177   10
10    1985    1455   11
11    1985    1330   12
12    1985    1233   13
13    1985    1318   14
14    1985    1273   15
15    1985    1250   16

In [25]:
df_tour_results_com.head()

   index  Season  WTeamID  LTeamID
0   1136    2003     1421     1411
1   1137    2003     1112     1436
2   1138    2003     1113     1272
3   1139    2003     1141     1166
4   1140    2003     1143     1301

In [26]:
df_reg_results.head()

,index,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2003,10,1104,68,1328,62,N,0,27,...,10,16,22,10,22,8,18,9,2,20
1,1,2003,10,1272,70,1393,63,N,0,26,...,24,9,20,20,25,7,12,8,6,16
2,2,2003,11,1266,73,1437,61,N,0,24,...,26,14,23,31,22,9,12,2,5,23
3,3,2003,11,1296,56,1457,50,N,0,18,...,22,8,15,17,20,9,19,4,3,23
4,4,2003,11,1400,77,1208,71,N,0,30,...,16,17,27,21,15,12,10,7,1,14

In [27]:
teams_by_season = df_seeds.groupby('Season')['TeamID'].unique()
teams_by_season.head()

Season
1985    [1207, 1210, 1228, 1260, 1374, 1208, 1393, 139...
1986    [1181, 1393, 1231, 1328, 1438, 1386, 1298, 133...
1987    [1314, 1393, 1345, 1395, 1323, 1196, 1452, 129...
1988    [1396, 1181, 1393, 1231, 1210, 1281, 1374, 120...
1989    [1207, 1181, 1390, 1234, 1301, 1243, 1452, 143...
Name: TeamID, dtype: object

### Some Useful Functions

The main function used is gather_stats, which calculates the desired stats and returns a dictionary of key=stat and value=value of stat

In [28]:
def get_sum(df, stat, w_mask, l_mask):
    summed = df[w_mask]['W'+stat].sum() + df[l_mask]['L'+stat].sum()
    return summed

def get_sum_opp(df, stat, w_mask, l_mask):
    summed = df[l_mask]['W'+stat].sum() + df[w_mask]['L'+stat].sum()
    return summed

def reb_pct(reb, opp_reb):
    return reb/(reb + opp_reb)

def score_rate(fg_type, fga):
    return fg_type / fga

def gather_stats(df, season, team_id):
    stats = dict()
    stat_strings = ['FGM', 'FGA', 'FGA3', 'FTA', 'OR', 'DR', 'Ast', 'TO', 'Score']
    d = df.copy()
    d = d.loc[(((d.WTeamID == team_id) | (d.LTeamID == team_id)) & (d.Season == season)), :]
    w_mask = d.WTeamID == team_id
    l_mask = d.LTeamID == team_id
    gm = len(d)
    #print(pd.concat([d.loc[w_mask,d.columns.str.contains('^W')], d.loc[l_mask, d.columns.str.contains('^L')]]))
    
    sums_team = {stat : get_sum(d, stat, w_mask, l_mask) for stat in stat_strings}
    sums_opp = {'o'+stat : get_sum_opp(d, stat, w_mask, l_mask) for stat in stat_strings}
    sums = {**sums_team, **sums_opp}
    
    ### Wins, Losses, Win%
    stats['W'] = w_mask.sum()
    stats['L'] = l_mask.sum()
    stats['Wp'] = w_mask.sum() / gm
    
    ### Point Differential
    points_scored = sums['Score']
    points_against = sums['oScore']
    stats['PtDiff'] = (points_scored - points_against) / gm 
    #print(points_scored)
    
    # Calculate Winning/losing Team Possession Feature
    wPos = d.apply(lambda row: 0.96*(row.WFGA + row.WTO + 0.44*row.WFTA - row.WOR), axis=1)
    lPos = d.apply(lambda row: 0.96*(row.LFGA + row.LTO + 0.44*row.LFTA - row.LOR), axis=1)
    nPos = np.sum(wPos + lPos)
    
    # Tempo defined as possessions per game
    stats['Tempo'] = nPos/(2*gm)
    
    ### Offensive Stats
    stats['PPP'] = 2*points_scored / nPos
    stats['ORp'] = reb_pct(sums['OR'], sums['DR'])
    stats['TOp'] = 2*sums['TO'] / nPos
    stats['FTrate'] = sums['FTA'] / sums['FGA']
    stats['TPrate'] = sums['FGA3'] / sums['FGA']
    stats['TSp'] = points_scored/(2*(sums['FGA']+0.44*sums['FTA']))
    
    ### Defensive Stats
    stats['DRp'] = reb_pct(sums['DR'], sums['OR'])
    stats['oPPP'] = 2*points_against / nPos
    stats['oTOp'] = 2*sums['oTO'] / nPos
    stats['oFTrate'] = sums['oFTA'] / sums['oFGA']
    stats['oTPrate'] = sums['oFGA3'] / sums['oFGA']
    stats['oTSp'] = points_scored/(2*(sums['oFGA']+0.44*sums['oFTA']))
    
    return stats

## Calculating and Gathering Stats
Here, regular season stats are calculated and put side by side with the tournament results in dataframe df_tour_results.

In [29]:
seasons = np.arange(2003, 2018)
teams_by_season = df_seeds.groupby('Season')['TeamID'].unique()

### Insert df_tour_results_det with columns to be filled with regular season stats
season_stats = np.array(['DRp', 'FTrate', 'L', 'ORp', 'PPP', 'PtDiff','TOp', 'TPrate', 'TSp', 'Tempo', 'W', 'Wp',
                'oFTrate', 'oPPP', 'oTOp', 'oTPrate', 'oTsp'])
w_cols = ['W' + s for s in season_stats]
l_cols = ['L' + s for s in season_stats]
df_tour_results = df_tour_results_com.reindex(columns=np.concatenate([df_tour_results_com.columns.values, w_cols, l_cols]))
stat_ledger = dict()
for season in seasons:
    ### Fill dictionary (stats) and dataframe (df_tourney_teams) of regular season team stats
    stats = dict()
    
    for team in teams_by_season[season]:
        stats[team] = gather_stats(df_reg_results, season, team)
    df_tourney_teams = pd.DataFrame(stats).transpose()
    df_tour_season = df_tour_results[df_tour_results.Season==season]

    ### Fill df_tour_results column values with regular season stats
    df = df_tour_season.copy()
    df.index = df_tour_results[df_tour_results.Season==season].index
    for index, row in df.iterrows():

        df_tour_results.loc[index, w_cols] = df_tourney_teams.loc[row.WTeamID].values
        df_tour_results.loc[index, l_cols] = df_tourney_teams.loc[row.LTeamID].values
    stat_ledger[season] = stats

In [30]:
df_tour_results.head()

,index,Season,WTeamID,LTeamID,WDRp,WFTrate,WL,WORp,WPPP,WPtDiff,...,LTPrate,LTSp,LTempo,LW,LWp,LoFTrate,LoPPP,LoTOp,LoTPrate,LoTsp
0,1136,2003,1421,1411,0.653696,0.368549,16.0,0.346304,1.060190,-7.241379,...,0.334741,0.538334,67.548160,18.0,0.600000,0.310155,1.048635,0.212194,0.383554,0.530282
1,1137,2003,1112,1436,0.645538,0.380435,3.0,0.354462,1.163792,14.964286,...,0.277160,0.525815,62.872717,19.0,0.655172,0.286162,1.004218,0.206767,0.389480,0.546694
2,1138,2003,1113,1272,0.630009,0.460606,11.0,0.369991,1.147338,6.793103,...,0.334483,0.531700,66.961655,23.0,0.793103,0.358164,0.983064,0.225039,0.316448,0.556259
3,1139,2003,1141,1166,0.687373,0.477749,6.0,0.312627,1.157217,6.103448,...,0.356540,0.597895,65.967709,29.0,0.878788,0.301752,0.975225,0.258621,0.258488,0.632119
4,1140,2003,1143,1301,0.684414,0.332355,8.0,0.315586,1.104652,4.724138,...,0.421875,0.580699,64.016000,18.0,0.600000,0.398996,1.062234,0.228589,0.319950,0.579559

In [31]:
df_tour_results.tail()

,index,Season,WTeamID,LTeamID,WDRp,WFTrate,WL,WORp,WPPP,WPtDiff,...,LTPrate,LTSp,LTempo,LW,LWp,LoFTrate,LoPPP,LoTOp,LoTPrate,LoTsp
976,2112,2017,1314,1246,0.635599,0.330575,7.0,0.364401,1.225381,13.424242,...,0.315520,0.573490,71.296376,29.0,0.852941,0.346919,1.004094,0.204614,0.327026,0.615003
977,2113,2017,1376,1196,0.652330,0.399782,10.0,0.347670,1.063493,6.935484,...,0.361859,0.561871,67.500600,24.0,0.750000,0.339286,0.986102,0.222220,0.315476,0.589723
978,2114,2017,1211,1376,0.767669,0.382429,1.0,0.232331,1.254571,23.424242,...,0.336974,0.514612,67.216103,21.0,0.677419,0.467365,0.960311,0.258675,0.339286,0.565895
979,2115,2017,1314,1332,0.635599,0.330575,7.0,0.364401,1.225381,13.424242,...,0.391441,0.588289,65.708218,28.0,0.848485,0.266254,0.994756,0.210757,0.371517,0.599527
980,2116,2017,1314,1211,0.635599,0.330575,7.0,0.364401,1.225381,13.424242,...,0.326098,0.617314,67.414109,32.0,0.969697,0.259682,0.907103,0.185646,0.317776,0.621847

## Training the model
First, the difference between the winning team's stats and the losing team's stats are combined with the result of each matchup.

In [32]:

wdiff = df_tour_results[w_cols].values - df_tour_results[l_cols].values
ldiff = -wdiff
diff_cols = [s + 'diff' for s in season_stats]
df_wins = pd.DataFrame(wdiff, columns=diff_cols)
df_wins['Result'] = 1
df_wins['Season'] = df_tour_results.Season
df_losses = pd.DataFrame(ldiff, columns=diff_cols)
df_losses['Result'] = 0
df_losses['Season'] = df_tour_results.Season

df_predictions = pd.concat((df_wins, df_losses))
df_predictions.head()

,DRpdiff,FTratediff,Ldiff,ORpdiff,PPPdiff,PtDiffdiff,TOpdiff,TPratediff,TSpdiff,Tempodiff,Wdiff,Wpdiff,oFTratediff,oPPPdiff,oTOpdiff,oTPratediff,oTspdiff,Result,Season
0,0.000492,-0.139292,4.0,-0.000492,-0.017559,-9.208046,0.015784,-0.017801,0.001090,-0.383912,-5.0,-0.151724,0.059755,0.119372,-0.021206,-0.043056,-0.028035,1,2003
1,-0.019346,0.030435,-7.0,0.019346,0.085532,10.309113,-0.021837,0.028274,0.029586,10.348540,6.0,0.237685,-0.012280,-0.044797,0.023455,-0.080811,0.041211,1,2003
2,-0.018569,0.078997,5.0,0.018569,0.034504,-1.896552,0.005463,-0.113271,0.023379,-0.751448,-5.0,-0.172414,0.010485,0.061676,0.009325,-0.030822,0.030957,1,2003
3,0.006768,0.129120,2.0,-0.006768,-0.044013,-8.805643,0.063466,-0.016226,0.024266,2.597477,-6.0,-0.085684,0.077414,0.092976,-0.024260,-0.018608,-0.045213,1,2003
4,-0.009185,-0.051395,-4.0,0.009185,-0.026315,0.324138,-0.011629,-0.131799,-0.027432,3.410428,3.0,0.124138,-0.102222,-0.027646,-0.007147,0.044860,-0.019288,1,2003

In [34]:
X_train = df_predictions[diff_cols]
#X_test = df_predictions.loc[df_predictions.Season >= 2014, diff_cols]

y_train = df_predictions['Result']
#y_test = df_predictions.loc[df_predictions.Season >= 2014, 'Result']

In [35]:
### Train using Logistic Regression

logreg = LogisticRegression()
params = {'C': np.logspace(start=-5, stop=3, num=9)}
clf = GridSearchCV(logreg, params, scoring='neg_log_loss', refit=True)
clf.fit(X_train, y_train)
print('Best log_loss: {:.4}, with best C: {}'.format(clf.best_score_, clf.best_params_['C']))

Best log_loss: -0.575, with best C: 1.0

## Building Submission File
First, the submission file is read in. Then, using the format, the Pred column is replaced with the model's predictions. This file is saved under "season_stats_model.csv"

In [36]:
df_sample_sub = pd.read_csv(path + 'SampleSubmissionStage1.csv')
n_test_games = len(df_sample_sub)

def get_year_t1_t2(ID):
    """Return a tuple with ints `year`, `team1` and `team2`."""
    return (int(x) for x in ID.split('_'))

print(df_sample_sub.head())

               ID  Pred
0  2014_1107_1110   0.5
1  2014_1107_1112   0.5
2  2014_1107_1113   0.5
3  2014_1107_1124   0.5
4  2014_1107_1140   0.5

In [37]:
df_tour_results.tail()

,index,Season,WTeamID,LTeamID,WDRp,WFTrate,WL,WORp,WPPP,WPtDiff,...,LTPrate,LTSp,LTempo,LW,LWp,LoFTrate,LoPPP,LoTOp,LoTPrate,LoTsp
976,2112,2017,1314,1246,0.635599,0.330575,7.0,0.364401,1.225381,13.424242,...,0.315520,0.573490,71.296376,29.0,0.852941,0.346919,1.004094,0.204614,0.327026,0.615003
977,2113,2017,1376,1196,0.652330,0.399782,10.0,0.347670,1.063493,6.935484,...,0.361859,0.561871,67.500600,24.0,0.750000,0.339286,0.986102,0.222220,0.315476,0.589723
978,2114,2017,1211,1376,0.767669,0.382429,1.0,0.232331,1.254571,23.424242,...,0.336974,0.514612,67.216103,21.0,0.677419,0.467365,0.960311,0.258675,0.339286,0.565895
979,2115,2017,1314,1332,0.635599,0.330575,7.0,0.364401,1.225381,13.424242,...,0.391441,0.588289,65.708218,28.0,0.848485,0.266254,0.994756,0.210757,0.371517,0.599527
980,2116,2017,1314,1211,0.635599,0.330575,7.0,0.364401,1.225381,13.424242,...,0.326098,0.617314,67.414109,32.0,0.969697,0.259682,0.907103,0.185646,0.317776,0.621847

In [38]:
X_array = np.zeros(shape=(n_test_games, len(diff_cols)))
X_test = pd.DataFrame(X_array, columns=diff_cols)
for ii, row in df_sample_sub.iterrows():
    year, t1, t2 = get_year_t1_t2(row.ID)

    year_mask = df_tour_results.Season == year
    t1_stats = np.array(list(stat_ledger[year][t1].values()))
    t2_stats = np.array(list(stat_ledger[year][t2].values()))
    X_test.loc[ii, diff_cols] = t1_stats - t2_stats
print(X_test.head())

    DRpdiff  FTratediff     Ldiff    ORpdiff   PPPdiff  PtDiffdiff   TOpdiff  \
0  0.042358        -2.0 -0.013547   2.622600 -0.092767   -0.062270 -0.120180
1  0.113639       -12.0 -0.054415  -1.267835 -0.001623    0.024475 -0.053148
2  0.020989        -3.0 -0.003968  -6.106200 -0.111113   -0.062435 -0.078921
3 -0.058127        -4.0 -0.024177  -0.923964 -0.081313    0.071563 -0.035092
4 -0.039198        -4.0 -0.040547 -10.366873  0.041602    0.024470 -0.068009

   TPratediff   TSpdiff  Tempodiff     Wdiff    Wpdiff  oFTratediff  \
0    0.062270  0.053350  -0.062500 -0.032592 -0.011624     0.076083
1   -0.024475  0.098320  -0.319853  0.039558 -0.003113     0.008060
2    0.062435  0.085197  -0.093750  0.036393  0.017135     0.005255
3   -0.071563  0.037613  -0.104167  0.016731  0.030033    -0.011643
4   -0.024470  0.009201  -0.104167  0.046484  0.021142    -0.050929

    oPPPdiff  oTOpdiff  oTPratediff  oTspdiff
0  -3.125000 -0.050820    -0.013162       2.0
1 -12.724265 -0.006814    -0.091246      10.0
2  -3.968750 -0.019845    -0.035192       3.0
3  -3.206439 -0.010367    -0.109691       3.0
4  -4.479167 -0.012533    -0.097032       3.0

In [39]:
preds = clf.predict_proba(X_test)[:,1]
clips = [(0.05, 0.95), (0.10, 0.9), (0.15, 0.85), (0.20, 0.8)]

for c in clips:
    low, high = c
    clipped_preds = np.clip(preds, low, high)
    df_sample_sub.Pred = clipped_preds
    subfile = 'seasonstatsmodel_{}.csv'.format(str(low).replace('.', ''))
    df_sample_sub.to_csv(subfile, index=False)
print(df_sample_sub.head(5), df_sample_sub.tail(5))

               ID  Pred
0  2014_1107_1110   0.8
1  2014_1107_1112   0.8
2  2014_1107_1113   0.2
3  2014_1107_1124   0.8
4  2014_1107_1140   0.2                   ID  Pred
9107  2017_1455_1458   0.8
9108  2017_1455_1462   0.8
9109  2017_1457_1458   0.8
9110  2017_1457_1462   0.8
9111  2017_1458_1462   0.2

In [40]:
df_sample_sub.Pred

0       0.800000
1       0.800000
2       0.200000
3       0.800000
4       0.200000
5       0.312412
6       0.800000
7       0.200000
8       0.457221
9       0.800000
10      0.650245
11      0.635033
12      0.200000
13      0.756133
14      0.200000
15      0.800000
16      0.200000
17      0.781164
18      0.334133
19      0.200000
20      0.200000
21      0.200000
22      0.200000
23      0.200000
24      0.200000
25      0.200000
26      0.200000
27      0.200000
28      0.200000
29      0.800000
          ...
9082    0.200000
9083    0.200000
9084    0.200000
9085    0.200000
9086    0.200000
9087    0.200000
9088    0.200000
9089    0.200000
9090    0.200000
9091    0.200000
9092    0.200000
9093    0.555432
9094    0.200000
9095    0.800000
9096    0.800000
9097    0.438503
9098    0.800000
9099    0.800000
9100    0.800000
9101    0.800000
9102    0.800000
9103    0.800000
9104    0.800000
9105    0.800000
9106    0.200000
9107    0.800000
9108    0.800000
9109    0.800000
9110    0.800000
9111    0.200000
Name: Pred, Length: 9112, dtype: float64